button.button {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 14px 28px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}

button.button:active {
  transform: translateY(1px);
}
